
.app-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app-header__score {
    min-width: 360px;
    width: 50%;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score__player-label {
    font-size: 1.5em;
    padding: 10px;
}

.score__player-label.active {
    background-color: #222;
    color: #6D6D6D;
}

.score__table {
    font-size: 1.7em;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .score__player-label {
        font-size: 1.2em;
    }

    .score__table {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 480px) {
    .score__player-label {
        font-size: 1em;
    }

    .score__table {
        font-size: 1.1em;
    }
}