
.modal {
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);

    background-color: #4D4D4D;
    border: 2px solid #9DAD92;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 1.7em;
    color: #9DAD92;
}

.modal__closeBtn {

}

