
.field {
    height: 250px;
    width: 250px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
}

.cell {
    border: 1px solid #fff;
    font-size: 50px;
    text-align: center;
    color: #9DAD92;
}