
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 50%;
    justify-items: center;
    align-items: center;

    background-color: #000;
    color: #4D4D4D;
}